.hero-page-contact {
    height: 90vh;
}
.hero-page-contact-container {
    height: 500px;
    border-radius: 24px;
    grid-template-columns: 2.2fr .4fr 2.8fr;
    grid-template-rows: .5fr 2fr .5fr;
}
.hero-page-contact-img {
    grid-area: 1/1/4/2;
    padding: 20px;
}
.hero-page-contact-img > div {
    border-radius: 16px;
    overflow: hidden;
}
.hero-page-contact-form {
    grid-area: 1/3/4/4;
    padding: 20px;
}
.hero-page-contact-form > div {
    border-radius: 16px;
    border: dashed 2px #461302;
    padding: 16px;
    overflow: hidden;
}
.hero-page-contact-form > div > p:nth-child(1) {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.contact-form {
    margin-bottom: 32px;
}
.contact-form > div {
    margin-bottom: 12px;
}
#name-contact,
#email-contact,
#question-title,
#question {
    border-radius: 12px;
    outline: none;
    margin-top: 4px;
    padding: 10px 16px;
}
#question {
    height: 150px;
    resize: none;
}
.contact-form > button {
    padding: 10px;
    border-radius: 16px;
    font-size: 20px;
}
.hero-page-contact-decoration:nth-child(3) {
    grid-area: 1/2/2/3;
    border-radius: 0 0 24px 24px;

    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: -30px;
        background-color: transparent;
        border-top-right-radius: 24px;
        box-shadow: 5px -10px #FFF9EB;
    }
    &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        right: -30px;
        background-color: transparent;
        border-top-left-radius: 24px;
        box-shadow: -5px -10px #FFF9EB;
    }
}
.hero-page-contact-decoration:nth-child(4) {
    grid-area: 3/2/4/3;
    border-radius: 24px 24px 0 0;

    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 0;
        left: -30px;
        background-color: transparent;
        border-bottom-right-radius: 24px;
        box-shadow: 5px 10px #FFF9EB;
    }
    &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 0;
        right: -30px;
        background-color: transparent;
        border-bottom-left-radius: 24px;
        box-shadow: -5px 10px #FFF9EB;
    }
}