.hero-page {
    height: calc(100vh - 10vh);
}
.hero-page-text {
    margin-bottom: 24px;
}
.hero-page-text > p:nth-child(1) {
    font-size: 36px;
    margin-bottom: 12px;
}
.hero-page-img {
    border-radius: 24px;
    height: 70%;
    overflow: hidden;
}
.hero-page-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visi-misi {
    height: 100vh;
}
.visi-misi-container {
    width: 80%;
    height: 75%;
    grid-template-columns: 1.5fr 1.2fr;
    grid-template-rows: 1fr 1.8fr;
    gap: 1.5rem;
}
.visi {
    grid-area: 1/1/2/2;
    padding: 2rem;
    border-radius: 24px;
}
.visi > p:nth-child(1) {
    font-size: 24px;
}
.misi {
    grid-area: 2/1/3/2;
    border-radius: 24px;
    overflow: hidden;
}
.misi > div:nth-child(1),
.misi > div:nth-child(2) {
    padding: 12px 2rem;
}
.misi > div:nth-child(1) > p {
    font-size: 24px;
}
.misi > div:nth-child(2) > ol {
    list-style: decimal;
    padding-left: 12px;
}
.misi > div:nth-child(2) > ol > li{
    font-size: 14px;
    padding-left: 5px;
}

.program-kerja {
    grid-area: 1/2/3/3;
    border: dotted 2px #461302;
    padding: 2rem;
    border-radius: 24px;
}
.program-kerja > p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 1.5rem;
}
.program-kerja > ol {
    list-style: decimal;
    list-style-position: outside;
    padding-left: 12px;
}
.program-kerja > ol > li {
    font-size: 14px;
    padding-left: 5px;
}

.geology {
    height: 100vh;
}
.geology-container {
    width: 80%;
    height: 75%;
}
.geology-container > p:nth-child(1) {
    margin-bottom: 1rem;
    font-size: 24px;
}
.maps-container {
    height: 70%;
    margin-bottom: 16px;
}
.maps {
    width: 80%;
    border-radius: 16px;
    overflow: hidden;
    border: dotted 2px #461302;
}
.citizen-information {
    width: 15%;
    border-radius: 16px;
}
.citizen-information > div:nth-child(1),
.citizen-information > div:nth-child(2) {
    margin-bottom: 2rem;
}
.citizen-information > div > p:nth-child(1) {
    font-size: 24px;
}
.location-description > div:nth-child(1),
.location-description > div:nth-child(2) {
    margin-right: 3rem;
}
.location-description > div > p:nth-child(2) {
    font-size: 32px;
}
.structure-organization,
.quote,
.gallery {
    height: 50vh;
}
.quote > div {
    height: 80%;
    border-radius: 24px;
}
.news {
    height: 100vh;
}
.news-container {
    width: 80%;
    height: 80%;
}
.news-container > p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 2rem;
}
.news-content {
    height: 80%;
}
.news-hot-topic {
    width: 55%;
    overflow: hidden;
    border-radius: 24px;
    position: relative;
}
.news-hot-topic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.news-hot-topic-text {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 999;
    padding: 1rem;
}
.hot-topic-header {
    height: 2rem;
}
.hot-topic-header > div:nth-child(1) {
    border-radius: 36px;
    padding: 8px 12px;
}
.hot-topic-information {
    height: 40%;
    border-radius: 16px;
    padding: 12px;
}
.hot-topic-information > div:nth-child(1) {
    width: 70%;
}
.hot-topic-information > div:nth-child(1) > p:nth-child(1) {
    font-size: 20px;
    margin-bottom: 6px;
}
.hot-topic-information > div:nth-child(2) {
    width: 28%;
}
.hot-topic-information > div:nth-child(2) > div:nth-child(1) {
    height: 70%;
}
.hot-topic-information > div:nth-child(2) > div:nth-child(1) > p:nth-child(1) {
    font-size: 28px;
}
.hot-topic-information > div:nth-child(2) > a:nth-child(2) {
    height: 30%;
    /* border: solid white 1px; */
    border-radius: 16px;
}
.news-recent {
    width: 42%;
}
.news-item {
    border-radius: 16px;
    padding: 12px;
    height: 25%;
}
.news-item > div:nth-child(1) {
    width: 30%;
    overflow: hidden;
    border-radius: 12px;
}
.news-item > div:nth-child(1) > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-item > div:nth-child(2) {
    width: 65%;
}
.news-item > div:nth-child(2) > p:nth-child(2) {
    font-size: 12px;
}
.news-cta {
    height: 10%;
    border-radius: 16px;
}
.products {
    width: 100%;
    height: 100vh;
}
.products-container {
    width: 80%;
    height: 80%;
}
.products-container > p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 2rem;
}
.product-card {
    width: 280px;
    height: 400px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
}
.product-card > img:nth-child(1){
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-card-detail {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
.product-detail {
    border-radius: 16px 16px 0 0;
    padding: 12px 16px;
    height: 180px;
}

.product-detail-text > p:nth-child(1) {
    font-size: 20px;
    margin-bottom: 8px;
}
.product-detail-text > p:nth-child(2) {
    font-size: 12px;
}
.product-detail-price > div:nth-child(1) > p:nth-child(1) { 
    font-size: 12px;
}
.product-detail-price > div:nth-child(2) > a { 
    padding: 0 12px;
    border-radius: 12px;
    font-size: 14px;
}
.products-category {
    padding: 8px 12px;
}
.tag-item {
    padding: 2px 4px;
    border-radius: 8px;
}