:root {
  /* ========================================================= */
  /* Palet 1: Oranye/Merah (Asli) - Ditandai dengan '-P1' */
  /* ========================================================= */
  --color-colonial-white-50: #FFF9EB;
  --color-white-100: #FFEBDD;
  --color-malachite-200: #FFDBB8;
  --color-persian-red-300: #FFC24A;
  --color-persian-red-400: #FFAA20;
  --color-persian-red-500: #F98607;
  --color-persian-red-600: #DD6002;
  --color-persian-red-700: #B74106;
  --color-persian-red-800: #94310C;
  --color-persian-red-900: #7A290D;
  --color-persian-red-950: #461302;

  /* ========================================================= */
  /* Palet 2: Abu-abu/Netral - Ditandai dengan '-P2' */
  /* ========================================================= */
  --color-colonial-white-50: #FFFFFF;
  --color-white-100: #EFEFEF;
  --color-malachite-200: #DCDCDC;
  --color-persian-red-300: #BDBDBD;
  --color-persian-red-400: #989898;
  --color-persian-red-500: #7C7C7C;
  --color-persian-red-600: #656565;
  --color-persian-red-700: #525252;
  --color-persian-red-800: #464646;
  --color-persian-red-900: #3D3D3D;
  --color-persian-red-950: #292929;

  /* ========================================================= */
  /* Palet 3: Hijau - Ditandai dengan '-P3' */
  /* ========================================================= */
  --color-colonial-white-50: #E1FBDD;
  --color-white-100: #E1FBDD;
  --color-malachite-200: #C5F5BD;
  --color-persian-red-300: #95EC89;
  --color-persian-red-400: #5EDA4E;
  --color-persian-red-500: #3AC828;
  --color-persian-red-600: #299F1A;
  --color-persian-red-700: #237D18;
  --color-persian-red-800: #1F6318;
  --color-persian-red-900: #1B5116;
  --color-persian-red-950: #092D06;

  /* ========================================================= */
  /* Palet 4: Merah Muda/Merah - Ditandai dengan '-P4' */
  /* ========================================================= */
  --color-colonial-white-50: #FEF2F2;
  --color-white-100: #FDE3E3;
  --color-malachite-200: #FCCCCC;
  --color-persian-red-300: #F9A8A8;
  --color-persian-red-400: #F37676;
  --color-persian-red-500: #E84B4B;
  --color-persian-red-600: #C82828;
  --color-persian-red-700: #B32222;
  --color-persian-red-800: #942020;
  --color-persian-red-900: #7B2121;
  --color-persian-red-950: #430C0C;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.d-flex {
    display: flex;
}
.d-inline-block {
    display: inline-block;
}
.d-grid {
    display: grid;
}
.flex-col {
    flex-direction: column;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
/* ========================================================= */
/* BACKGROUND dan FONT COLOR - PALET 1 (Oranye/Merah Asli) */
/* ========================================================= */
.bg-colonial-white-50 { background-color: var(--color-colonial-white-50); }
.text-colonial-white-50 { color: var(--color-colonial-white-50); }

.bg-white-100 { background-color: var(--color-white-100); }
.text-white-100 { color: var(--color-white-100); }

.bg-malachite-200 { background-color: var(--color-malachite-200); }
.text-malachite-200 { color: var(--color-malachite-200); }

.bg-persian-red-300 { background-color: var(--color-persian-red-300); }
.text-persian-red-300 { color: var(--color-persian-red-300); }

.bg-persian-red-400 { background-color: var(--color-persian-red-400); }
.text-persian-red-400 { color: var(--color-persian-red-400); }

.bg-persian-red-500 { background-color: var(--color-persian-red-500); }
.text-persian-red-500 { color: var(--color-persian-red-500); }

.bg-persian-red-600 { background-color: var(--color-persian-red-600); }
.text-persian-red-600 { color: var(--color-persian-red-600); }

.bg-persian-red-700 { background-color: var(--color-persian-red-700); }
.text-persian-red-700 { color: var(--color-persian-red-700); }

.bg-persian-red-800 { background-color: var(--color-persian-red-800); }
.text-persian-red-800 { color: var(--color-persian-red-800); }

.bg-persian-red-900 { background-color: var(--color-persian-red-900); }
.text-persian-red-900 { color: var(--color-persian-red-900); }

.bg-persian-red-950 { background-color: var(--color-persian-red-950); }
.text-persian-red-950 { color: var(--color-persian-red-950); }

/* --------------------------------------------------------- */

/* ========================================================= */
/* BACKGROUND dan FONT COLOR - PALET 2 (Abu-abu/Netral) */
/* ========================================================= */
.bg-colonial-white-50 { background-color: var(--color-colonial-white-50); }
.text-colonial-white-50 { color: var(--color-colonial-white-50); }

.bg-white-100 { background-color: var(--color-white-100); }
.text-white-100 { color: var(--color-white-100); }

.bg-malachite-200 { background-color: var(--color-malachite-200); }
.text-malachite-200 { color: var(--color-malachite-200); }

.bg-persian-red-300 { background-color: var(--color-persian-red-300); }
.text-persian-red-300 { color: var(--color-persian-red-300); }

.bg-persian-red-400 { background-color: var(--color-persian-red-400); }
.text-persian-red-400 { color: var(--color-persian-red-400); }

.bg-persian-red-500 { background-color: var(--color-persian-red-500); }
.text-persian-red-500 { color: var(--color-persian-red-500); }

.bg-persian-red-600 { background-color: var(--color-persian-red-600); }
.text-persian-red-600 { color: var(--color-persian-red-600); }

.bg-persian-red-700 { background-color: var(--color-persian-red-700); }
.text-persian-red-700 { color: var(--color-persian-red-700); }

.bg-persian-red-800 { background-color: var(--color-persian-red-800); }
.text-persian-red-800 { color: var(--color-persian-red-800); }

.bg-persian-red-900 { background-color: var(--color-persian-red-900); }
.text-persian-red-900 { color: var(--color-persian-red-900); }

.bg-persian-red-950 { background-color: var(--color-persian-red-950); }
.text-persian-red-950 { color: var(--color-persian-red-950); }

/* --------------------------------------------------------- */

/* ========================================================= */
/* BACKGROUND dan FONT COLOR - PALET 3 (Hijau) */
/* ========================================================= */
.bg-colonial-white-50 { background-color: var(--color-colonial-white-50); }
.text-colonial-white-50 { color: var(--color-colonial-white-50); }

.bg-white-100 { background-color: var(--color-white-100); }
.text-white-100 { color: var(--color-white-100); }

.bg-malachite-200 { background-color: var(--color-malachite-200); }
.text-malachite-200 { color: var(--color-malachite-200); }

.bg-persian-red-300 { background-color: var(--color-persian-red-300); }
.text-persian-red-300 { color: var(--color-persian-red-300); }

.bg-persian-red-400 { background-color: var(--color-persian-red-400); }
.text-persian-red-400 { color: var(--color-persian-red-400); }

.bg-persian-red-500 { background-color: var(--color-persian-red-500); }
.text-persian-red-500 { color: var(--color-persian-red-500); }

.bg-persian-red-600 { background-color: var(--color-persian-red-600); }
.text-persian-red-600 { color: var(--color-persian-red-600); }

.bg-persian-red-700 { background-color: var(--color-persian-red-700); }
.text-persian-red-700 { color: var(--color-persian-red-700); }

.bg-persian-red-800 { background-color: var(--color-persian-red-800); }
.text-persian-red-800 { color: var(--color-persian-red-800); }

.bg-persian-red-900 { background-color: var(--color-persian-red-900); }
.text-persian-red-900 { color: var(--color-persian-red-900); }

.bg-persian-red-950 { background-color: var(--color-persian-red-950); }
.text-persian-red-950 { color: var(--color-persian-red-950); }

/* --------------------------------------------------------- */

/* ========================================================= */
/* BACKGROUND dan FONT COLOR - PALET 4 (Merah Muda/Merah) */
/* ========================================================= */
.bg-colonial-white-50 { background-color: var(--color-colonial-white-50); }
.text-colonial-white-50 { color: var(--color-colonial-white-50); }

.bg-white-100 { background-color: var(--color-white-100); }
.text-white-100 { color: var(--color-white-100); }

.bg-malachite-200 { background-color: var(--color-malachite-200); }
.text-malachite-200 { color: var(--color-malachite-200); }

.bg-persian-red-300 { background-color: var(--color-persian-red-300); }
.text-persian-red-300 { color: var(--color-persian-red-300); }

.bg-persian-red-400 { background-color: var(--color-persian-red-400); }
.text-persian-red-400 { color: var(--color-persian-red-400); }

.bg-persian-red-500 { background-color: var(--color-persian-red-500); }
.text-persian-red-500 { color: var(--color-persian-red-500); }

.bg-persian-red-600 { background-color: var(--color-persian-red-600); }
.text-persian-red-600 { color: var(--color-persian-red-600); }

.bg-persian-red-700 { background-color: var(--color-persian-red-700); }
.text-persian-red-700 { color: var(--color-persian-red-700); }

.bg-persian-red-800 { background-color: var(--color-persian-red-800); }
.text-persian-red-800 { color: var(--color-persian-red-800); }

.bg-persian-red-900 { background-color: var(--color-persian-red-900); }
.text-persian-red-900 { color: var(--color-persian-red-900); }

.bg-persian-red-950 { background-color: var(--color-persian-red-950); }
.text-persian-red-950 { color: var(--color-persian-red-950); }