.navbar-container {
    height: 10vh;
    /* padding: 12px 0 12px 0; */
}
.nav-logo {
    width: 20%;
}
.nav-logo > div:nth-child(2) {
    font-size: 24px;
}
.nav-list {
    width: 25%;
}
.nav-item {
    padding: 12px 0;
}
.nav-action {
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
}
/* #navbar {
    position: f
    top: 0;
    left: 0;
} */
.navbar-scrolled {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 50px;
}