.news-header {
    height: fit-content;
    padding: 1rem;
}
.news-header-container {
    height: fit-content;
    border-radius: 24px;
    padding: 16px;
    flex-direction: column;
}
.news-header-img {
    width: 100%;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;   
}
.news-header-title {
    height: 100px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
}
.news-header-title > div:nth-child(1) {
    width: 16px;
    height: 100%;
}
.news-header-title > div:nth-child(2) {
    width: calc(100% - 20px);
    padding: 12px;
}
.news-header-title > div:nth-child(2) > p {
    font-size: 20px;
}
.news-header-information > div:nth-child(2) {
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    margin-bottom: auto;
}
.news-header-short-detail {
    height: 150px;
    border-radius: 16px;
    padding: 12px;
}
.news-header-release-date > div:nth-child(2),
.news-header-writer > div:nth-child(2),
.news-header-reader > div:nth-child(2),
.news-header-like > div:nth-child(2) {
    padding: 8px 12px;
    border-radius: 12px;
    margin-top: 4px;
}
.news-header-release-date,
.news-header-writer,
.news-header-reader,
.news-header-like {
    width: 100%;
    margin-bottom: 16px;
}

.news-header-release-date > div:nth-child(2) > div,
.news-header-writer > div:nth-child(2) > div,
.news-header-reader > div:nth-child(2) > div,
.news-header-like > div:nth-child(2) > div {
    margin-right: 8px;
}

.news-header-short-detail > div:nth-child(1) {
    border-radius: 16px;
    border: solid 2px #461302;
    padding: 2px 12px;
    margin-bottom: 8px;
}
.news-detail {
    padding: 3rem 0;
    border-bottom: solid 2px #461302;
    border-top: solid 2px #461302;
}
.news-detail-container {
    flex-direction: column;
}
.news {
    width: 100%;
    margin-bottom: 2rem
}
.news-comments {
    width: 100%;
    height: 450px;
    border-radius: 24px;
}
.news-comment-header {
    font-size: 20px;
    height: 10%;
    border-bottom: solid 2px #461302;
}
.news-comment-container {
    height: 78%;
    padding: 12px;
}
.news-comment-send {
    padding: 0px 12px 12px 12px;
    height: 12%;
}
.news-comment-send > form {
    border-radius: 24px;
    padding: 6px 12px;
    overflow: hidden;
}
.news-comment-send > form > input {
    width: 88%;
    outline: none;
}
.news-comment-send > form > button {
    width: 10%;
    border-radius: 24px;
    cursor: pointer;
}
.fa-paper-plane {
    line-height: 0;
}
.comment {
    border-radius: 0px 12px 12px 12px;
    padding: 8px;
    margin-bottom: 12px;
    
}
.comment-identification {
    font-size: 8px;
    text-align: end;
}
.comment-content {
    font-size: 12px;
}
@media (min-width: 768px) {

    .news-header-title {
        height: fit-content;
    }
    .news-header-information > div:nth-child(2) {
        column-gap: 16px;
    }
    .news-header-short-detail {
        height: fit-content;
    }
    .news-detail-container {
        flex-direction: row;
    }
    .news {
        width: 50%;
    }
    .news-comments {
        width: 45%;
        height: 450px;
        
    }
}
@media (min-width: 992px) {
    .news-header {
        height: 90vh;
    }
    .news-header-container {
        height: 400px;
        flex-direction: row;
    }
    .news-header-img {
        width: 40%;
        height: 100%;
    }
    .news-header-information {
        width: 58%;
    }
    .news-header-title {
        height: 20%;
    }
    .news-header-information > div:nth-child(2) {
        height: 18%;
        column-gap: 0px;
        justify-content: space-between;
    }
    .news-header-release-date,
    .news-header-writer,
    .news-header-reader,
    .news-header-like {
        width: fit-content;
        margin-bottom: 16px;
    }
    .news-header-release-date > p:nth-child(1),
    .news-header-writer > p:nth-child(1),
    .news-header-reader > p:nth-child(1),
    .news-header-like > p:nth-child(1) {
        font-size: 14px;
    }
    .news-header-release-date > div:nth-child(2) > p:nth-child(2),
    .news-header-writer > div:nth-child(2) > p:nth-child(2),
    .news-header-reader > div:nth-child(2) > p:nth-child(2),
    .news-header-like > div:nth-child(2) > p:nth-child(2) {
        font-size: 14px;
    }
    .news-header-short-detail {
        height: 55%;
    }
    
}
@media (min-width: 1200px) {
    .news-header-release-date > p:nth-child(1),
    .news-header-writer > p:nth-child(1),
    .news-header-reader > p:nth-child(1),
    .news-header-like > p:nth-child(1) {
        font-size: 16px;
    }
    .news-header-release-date > div:nth-child(2) > p:nth-child(2),
    .news-header-writer > div:nth-child(2) > p:nth-child(2),
    .news-header-reader > div:nth-child(2) > p:nth-child(2),
    .news-header-like > div:nth-child(2) > p:nth-child(2) {
        font-size: 16px;
    }
    
}