*,
::after,
::before,
::backdrop,
::file-selector-button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0 solid;
}
body {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img,
video {
  max-width: 100%;
  height: auto;
}