.product-header {
    height: 90vh;
}
.product-header-container {
    height: 400px;
    border-radius: 24px;
    padding: 16px;
}
.product-header-img {
    /* border: solid red 2px; */
    width: 40%;
    border-radius: 16px;
    overflow: hidden;
}
.product-header-information {
    width: 58%;
}
.product-header-title {
    height: 25%;
    border-radius: 16px;
    overflow: hidden;
}
.product-header-title > div:nth-child(1) {
    width: 16px;
}
.product-header-title > div:nth-child(2) {
    width: calc(100% - 20px);
    padding: 12px;
}
.product-header-title > div:nth-child(2) > p {
    font-size: 20px;
}
.product-header-information > div:nth-child(2) {
    height: 18%;
}
.product-header-short-detail {
    height: 50%;
}
.product-price > div:nth-child(2),
.product-shop > div:nth-child(2),
.product-header-reader > div:nth-child(2),
.product-header-like > div:nth-child(2) {
    padding: 8px 12px;
    border-radius: 12px;
    margin-top: 4px;
}
.product-price > div:nth-child(2) > div,
.product-shop > div:nth-child(2) > div,
.product-header-reader > div:nth-child(2) > div,
.product-header-like > div:nth-child(2) > div {
    margin-right: 8px;
}
.product-price {
    width: 30%;
}
.product-shop {
    width: 35%;
}
.product-header-reader {
    width: 15%;
}
.product-header-like {
    width: 15%;
}
.product-header-short-detail {
    border-radius: 16px;
    padding: 12px;
}
.product-header-short-detail > div:nth-child(1) {
    border-radius: 16px;
    border: solid 2px #461302;
    padding: 2px 12px;
    margin-bottom: 8px;
}
.product-detail {
    padding: 3rem 0;
    border-bottom: solid 2px #461302;
    border-top: solid 2px #461302;
}
.product {
    width: 60%;
}
.product-comments {
    width: 35%;
    height: 450px;
    border-radius: 24px;
}
.product-comment-header {
    font-size: 20px;
    height: 10%;
    border-bottom: solid 2px #461302;
}
.product-comment-container {
    height: 78%;
    padding: 12px;
}
.product-comment-send {
    padding: 0px 12px 12px 12px;
    height: 12%;
}
.product-comment-send > form {
    border-radius: 24px;
    padding: 6px 12px;
    overflow: hidden;
}
.product-comment-send > form > input {
    width: 88%;
    outline: none;
}
.product-comment-send > form > button {
    width: 10%;
    border-radius: 24px;
    cursor: pointer;
}
.fa-paper-plane {
    line-height: 0;
}
.comment {
    border-radius: 0px 12px 12px 12px;
    padding: 8px;
    margin-bottom: 12px;
}
.comment-identification {
    font-size: 8px;
    text-align: end;
}
.comment-content {
    font-size: 12px;
}