.hero-page-product {
    height: 90vh;
}
.hero-page-slogan {
    border-radius: 30px;
    border: solid 2px #461302;
    padding: 8px 12px;
    margin-bottom: 24px;
    font-size: 12px;
}
.hero-page-product-container > p:nth-child(2){
    margin-bottom: 100px;
    font-size: 24px;
}
.hero-page-atc {
    border-radius: 30px;
    padding: 8px 16px;
    border: dashed 2px #461302;
    font-size: 12px;
}
.fa-cart-arrow-down {
    top: 5%;
    left: 25%;
}
.fa-dollar-sign {
    top: 5%;
    right: 25%;
}
.fa-burger {
    top: 12%;
    left: 10%;
}
.fa-beer-mug-empty {
    top: 12%;
    right: 10%;
}
.fa-heart {
    bottom: 15%;
    left: 10%;
}
.fa-apple-whole {
    bottom: 15%;
    right: 10%;
}
.fa-cart-arrow-down,
.fa-dollar-sign,
.fa-beer-mug-empty,
.fa-burger,
.fa-heart,
.fa-apple-whole {
    font-size: 2rem;
}

.product-search {
    padding: 6rem 0;
    border-top: 2px solid #461302;
    border-bottom: 2px solid #461302;
}
.product-search-container > p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 16px;
}
.search-input {
    margin-bottom: 3rem;
}
.search-input > form  {
    height: 70px;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 36px;
}
.search-input > form > div:nth-child(1) {
    display: none;
}
.search-input > form > div:nth-child(2) {
    width: 100%;
    height: 100%;
    gap: 16px;
}
#search-input {
    width: 82%;
    height: 100%;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 20px;
    outline: none;
}
.search-input > form div:nth-child(2) > button {
    width: 15%;
    height: 100%;
    font-size: 20px;
    border-radius: 30px;
}
.product-card-content {
    height: 80%;
}
.product-card-item {
    width: 300px;
    height: 350px;
    border-radius: 24px;
    border: solid 2px #461302;
    padding: 12px;
    margin-bottom: 2rem;
}
.product-card-img {
    height: 50%;
    border-radius: 16px;
    margin-bottom: 16px;
    overflow: hidden;
}
.product-card-img > img {
    object-fit: cover;
}
.product-card-text > p:nth-child(1) {
    font-size: 20px;
    margin-bottom: 4px;
}
.product-card-text > p:nth-child(2) {
    font-size:  14px;
}
.product-card-link {
    margin-top: auto;
    border-radius: 16px;
    border: solid #461302 1px;
    padding: 4px;
    text-align: center;
}
.product-information {
    height: 100vh;
}
.product-information-container {
    height: 400px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.product-information-quote {
    grid-area: 1/1/3/2;
}
.product-information-quote > p:nth-child(1) {
    font-size: 28px;
    font-style: italic;
}
.product-information-quote > div > p:nth-child(1) {
    font-size: 20px;
}
.product-information-data {
    grid-area: 1/2/2/3;
}
.product-information-item {
    grid-area: 2/2/3/3;
}
.product-information-data,
.product-information-item,
.product-information-quote {
    padding: 24px;
    border-radius: 24px;
}

@media (min-width: 768px) {
    .hero-page-product-container > p:nth-child(2){
        font-size: 32px;
    }
    .hero-page-atc,
    .hero-page-slogan {
        font-size: 18px;
    }
    .search-input > form > div:nth-child(1) {
        display: flex;
        font-size: 24px;
    }
}

@media (min-width: 900px) {
    .hero-page-product {
        height: 90vh;
    }
    .hero-page-slogan {
        border-radius: 30px;
        border: solid 2px #461302;
        padding: 8px 16px;
        margin-bottom: 24px;
    }
    .hero-page-product-container > p:nth-child(2){
        margin-bottom: 100px;
        font-size: 36px;
    }
    .hero-page-atc {
        border-radius: 30px;
        padding: 8px 16px;
        border: dashed 2px #461302;
        font-size: 20px;
        /* margin: auto; */
    }
    .fa-cart-arrow-down {
        top: 3rem;
        left: 14rem;
    }
    .fa-dollar-sign {
        top: 3rem;
        right: 14rem;
    }
    .fa-burger {
        top: 8rem;
        left: 8rem;
    }
    .fa-beer-mug-empty {
        top: 8rem;
        right: 8rem;
    }
    .fa-heart {
        bottom: 6rem;
        left: 14rem;
    }
    .fa-apple-whole {
        bottom: 6rem;
        right: 14rem
    }
    .fa-cart-arrow-down,
    .fa-dollar-sign,
    .fa-beer-mug-empty,
    .fa-burger,
    .fa-heart,
    .fa-apple-whole {
        font-size: 2rem;
    }

    .product-search {
        padding: 6rem 0;
        border-top: 2px solid #461302;
        border-bottom: 2px solid #461302;
    }
    .product-search-container > p:nth-child(1) {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .search-input {
        margin-bottom: 3rem;
    }
    .search-input > form {
        height: 70px;
        padding: 12px;
        margin-bottom: 16px;
        border-radius: 36px;
    }
    .search-input > form > div:nth-child(1) {
        width: 5%;
    }
    .search-input > form > div:nth-child(1) > i {
        font-size: 32px;
    }
    #search-input {
        width: 85%;
        border-radius: 30px;
        padding: 0 20px;
        font-size: 20px;
        outline: none;
    }
    .search-input > form > button {
        font-size: 20px;
        padding: 0 20px;
        border-radius: 30px;
    }
    .product-card-content {
        height: 80%;
    }
    .product-card-item {
        width: 300px;
        height: 350px;
        border-radius: 24px;
        border: solid 2px #461302;
        padding: 12px;
        margin-bottom: 2rem;
    }
    .product-card-img {
        height: 50%;
        border-radius: 16px;
        margin-bottom: 16px;
        overflow: hidden;
    }
    .product-card-img > img {
        object-fit: cover;
    }
    .product-card-text > p:nth-child(1) {
        font-size: 20px;
        margin-bottom: 4px;
    }
    .product-card-text > p:nth-child(2) {
        font-size:  14px;
    }
    .product-card-link {
        margin-top: auto;
        border-radius: 16px;
        border: solid #461302 1px;
        padding: 4px;
        text-align: center;
    }
    .product-information {
        height: 100vh;
    }
    .product-information-container {
        height: 400px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }
    .product-information-quote {
        grid-area: 1/1/3/2;
    }
    .product-information-quote > p:nth-child(1) {
        font-size: 28px;
        font-style: italic;
    }
    .product-information-quote > div > p:nth-child(1) {
        font-size: 20px;
    }
    .product-information-data {
        grid-area: 1/2/2/3;
    }
    .product-information-item {
        grid-area: 2/2/3/3;
    }
    .product-information-data,
    .product-information-item,
    .product-information-quote {
        padding: 24px;
        border-radius: 24px;
    }    
}